*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.navbar {
  width: 100%;
  padding: 5px 0px;
  background-color: #dc265a;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 1px;
  z-index: 10;
  position: fixed;
}
.nav_more{
  display: none;
}
.nav_logo {
  margin-left: 90px;
  display: block; 
}

.navbar_menu{
  margin: auto;
}
.navbar_menu ul li{
  display: inline-block;
  padding-left: 10px;
  font-size: 17px;
}
.navbar_menu a:hover{
  color: #252525;
}
.navbar_menu a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}
.navbar_logIn{
  display: flex;
  color: white;
  margin-right: 70px;
  align-items: center;
  border: 1px solid white;
  padding: 12px 18px;
  border-radius: 0.15cm;
  transition: 0.5s;
}
.header_logIn{
  display: flex;
  color: white;
  margin-right: 70px;
  align-items: center;
  border: 1px solid white;
  padding: 12px 18px;
  border-radius: 0.15cm;
  transition: 0.5s;
}
.navbar_logIn p{
  margin-left: 10px;
  padding-left: 5px;
}
.header_logIn p{
  margin-left: 10px;
  padding-left: 5px;
}
.navbar_logIn:hover{
  background-color: white;
  color: #dc265a;
}
.footer{
  width: 100%;
  position:absolute;
  background-color: #dc265a;
  padding-top: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer_one{
  width: 20%;
  text-align: center;
  align-items: center;
  color: white;
  font-size: 10px;
}
.footer_two p{
  margin: 10px;
  display: none;
}
.footer_two{
  width: 20%;
  text-align: center;
  align-items: center;
  color: white;
  font-size: 10px;
}
.stadion_melumat{
  width: 100%;
  padding-top: 120px;
}
.nameng h2{
  margin: auto;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.navbar{
  width: 100%;
  padding: 5px 0px;
  background-color: #dc265a;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 1px;
  z-index: 10;
}
.nav_more{
  display: none;
}
.nav_logo{
  margin-left: 90px;
}
.header_logo{
  margin-left: 90px;
}
.navbar_menu{
  margin: auto;
}
.navbar_menu ul li{
  display: inline-block;
  padding-left: 10px;
  font-size: 17px;
}
.navbar_menu a:hover{
  color: #252525;
}
.navbar_menu a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}
.navbar_logIn{
  display: flex;
  align-items: center;
}
.navbar_logIn{
  color: white;
  margin-right: 70px;
}
.navbar_logIn p{
  margin-left: 10px;
}
.navbar_logIn{
  border: 1px solid white;
  padding: 12px 18px;
  border-radius: 0.15cm;
  transition: 0.5s;
}
.navbar_logIn p{
  padding-left: 5px;
}
.navbar_logIn:hover{
  background-color: white;
  color: #dc265a;
}
.header{
  display: flex;
  background-color: #dc265a;
  padding: 5px;
  width: 100%;
  justify-content: space-around;
  display: none;
}
@media only screen and (max-width: 700px) {
  .navbar{
    position: fixed;
    bottom: 0px;
  }

  .header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    border-bottom: 0.1px solid #252525;
  }
  .header_logIn{
    width: 33%;
    margin: 0px 30px 0px 0px;
  }
  .header_logo{
    margin: 0px 70px;
  }
  .nav_logo{
    display: none;
  }
  .navbar_logIn{
    display: none;
  }
  .navbar_menu ul li{
    padding: 10px 11px;
  }
  .navbar_logIn{
    display: none;
  }
}

.haqqimizda_info{
  background-color: #dc265a;
  text-align: center;
  margin: auto;
  width: 55%;
}
.haqqimizda_info_img{
  margin: auto;
}
.haqqimizda_info_img h2{
  color: white;
  margin-bottom: 20px;
}
.haqqimizda_info_img p{
  margin-top: 20px;
}
.haqqimizda{
  background-color: #dc265a;
  padding-top: 100px;
  color: white;
  padding-bottom: 70px;
}
.why_us{
  width: 100%;
  margin-top: 80px;
  padding-bottom: 30px;
}
.why_us_y{
  width: 70%;
  margin: auto;
  text-align: center;   
}
.why_us_y h2{
  font-size: 30px;
  color: #dc265a;
}
.types{
  display: flex;
  margin-top: 70px;
  margin-bottom: 50px;
  justify-content: space-around;
}
.type{
  display: flex;
  width: 27%;
  margin-bottom: 10px;
  justify-content: left;
}
.type_i{
  display: flex;
  align-items: center;
}
.type_i :hover{
  color: #252525;
}
.type_i i{
  color: #dc265a;
  transition: 0.5s;
  font-size: 40px;
}
.type_p p{
  color: #dc265a;
  text-align: left;
  margin-left: 30px;
}
.haqqimizda_info a{
  background-color: #dc265a;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 0.2cm;
  padding: 10px 20px;
  transition: 0.5s;
  font-size: 18px;
}
.haqqimizda_info a:hover{
  background-color: white;
  color: #dc265a;
}
.haq_a{
  margin-top: 40px;
}
.type_p{
  display: flex;
  align-items: center;
}
.stadion{
  background-color: #252525;
  color: white;
  padding-top: 50px;
}
.stadion h2{
  font-size: 30px;
  text-align: center;
}
.stadion_all{
  width: 82%;
  margin: auto;
  padding-top: 80px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
}
.stadion_sifarisi_input input{
  width: 240px;
  height: 32px;
}
.stadion_sifarisi_input{
  display: flex;
  justify-content: end;
  margin-top: 20px;
  margin-right: 100px;
}
.stadion_bir{
  width: 21%;
  background-color: white;
  padding-bottom: 10px;
  border: 1px solid grey;
  border-radius: 0.3cm;
  color: black;
  transition: 0.5s;
}
.stadion_bir a {
  text-decoration: none;
}
.stadion_bir:hover{
  background-color: #e6dfdf;
  /* width: 23%; */
  transform: scale(1.05);
}
.stadion_bir img{
  border-radius: 0.3cm;
  padding: 5px;
}
.stadion_bir_txt{
 text-align: center;
 padding: 6px;
}
.stadion_bir_txt a{
  text-decoration: none;
}




/* slideshow */

@keyframes tonext {
75% {
  left: 0;
}
95% {
  left: 100%;
}
98% {
  left: 100%;
}
99% {
  left: 0;
}
}

@keyframes tostart {
75% {
  left: 0;
}
95% {
  left: -300%;
}
98% {
  left: -300%;
}
99% {
  left: 0;
}
}

@keyframes snap {
96% {
  scroll-snap-align: center;
}
97% {
  scroll-snap-align: none;
}
99% {
  scroll-snap-align: none;
}
100% {
  scroll-snap-align: center;
}
}
* {
box-sizing: border-box;
scrollbar-color: transparent transparent; /* thumb and track color */
scrollbar-width: 0px;
}

*::-webkit-scrollbar {
width: 0;
}

*::-webkit-scrollbar-track {
background: transparent;
}

*::-webkit-scrollbar-thumb {
background: transparent;
border: none;
}

* {
-ms-overflow-style: none;
}

ol, li {
list-style: none;
margin: 0;
padding: 0;
}
.zelda{
padding-top: 70px;
}

.carousel {
width: 55%;
position: relative;
margin-top: 60px;
height: 500px;
margin: auto;
filter: drop-shadow(0 0 10px #0003);

}

.carousel__viewport {
width: 100%;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
display: flex;
overflow-x: scroll;
counter-reset: item;
scroll-behavior: smooth;
scroll-snap-type: x mandatory;
}

.carousel__slide {
position: relative;
flex: 0 0 100%;
width: 100%;
background-color: #f99;
counter-increment: item;
}

.carousel__slide:nth-child(even) {
background-color: #99f;
}

.carousel__slide:before {
content: counter(item);
position: absolute;
top: 50%;
left: 50%;
transform: translate3d(-50%,-40%,70px);
color: #fff;
font-size: 2em;
}

.carousel__snapper {
position: absolute;
width: 100%;
top: 0;
left: 0;
width: 100%;
height: 100%;
scroll-snap-align: center;
}

@media (hover: hover) {
.carousel__snapper {
  animation-name: tonext, snap;
  animation-timing-function: ease;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.carousel__slide:last-child .carousel__snapper {
  animation-name: tostart, snap;
}
}

@media (prefers-reduced-motion: reduce) {
.carousel__snapper {
  animation-name: none;
}
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
animation-name: none;
}

.carousel__navigation {
position: absolute;
right: 0;
bottom: 0;
left: 0;
text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
display: inline-block;
}

.carousel__navigation-button {
display: inline-block;
width: 1.5rem;
height: 1.5rem;
background-color: #333;
background-clip: content-box;
border: 0.25rem solid transparent;
border-radius: 50%;
font-size: 0;
transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
top: 0;
margin-top: 37.5%;
width: 4rem;
height: 4rem;
transform: translateY(-50%);
border-radius: 50%;
font-size: 0;
outline: 0;
}

.carousel::before,
.carousel__prev {
left: -1rem;
}

.carousel::after,
.carousel__next {
right: -1rem;
}

.carousel::before,
.carousel::after {
content: '';
z-index: 1;
background-color: none;
background-size: 1.5rem 1.5rem;
background-repeat: no-repeat;
background-position: center center;
font-size: 2.5rem;
line-height: 4rem;
text-align: center;
pointer-events: none;
}

.carousel::before {
background-image: url("https://victorycup.ru/wp-content/uploads/2019/01/aquatic-palace7.jpeg");
}

.carousel::after {
background-image: url("https://victorycup.ru/wp-content/uploads/2019/01/aquatic-palace7.jpeg");
}


/*  */

table {
border: 1px solid #ccc;
border-collapse: collapse;
width: 60%;
margin: auto;
padding-top: 80px;
box-shadow: 0px 0px 1px;
table-layout: fixed;
}

.admin{
padding-top:100px;
margin-bottom: 50px;
}
table caption {
font-size: 1.5em;
margin: .5em 0 .75em;
}

table tr {
background-color: #f8f8f8;
border: 1px solid #ddd;
padding: .35em;
}

table th,
table td {
padding: .625em;
text-align: center;
}

table th {
font-size: .85em;
letter-spacing: .1em;
text-transform: uppercase;
}
.Log_in{
width: 100%;
height: 100vh;
background-color: #dc265a;
display: flex;
align-items: center;
}
.Log_in_all{
margin: auto;
display: flex;
justify-content: space-around;
padding: 10px;
}
.Log_in_all_img{
display: flex;
margin-right: 70px;
align-items: center;
}
.Log_in_all_txt{
text-align: center;
color: white;
margin-left: 140px;
}
.link_to_register{
text-align: right;
margin-top: 20px;
}
.Log_in_all_txt h2{
margin-bottom: 20px;
}
.input_login{
margin-bottom: 30px;
}
.input_login input{
width: 270px;
padding-left: 5px;
height: 33px;
}
.All_stadiums{
padding-top: 110px;
background-color: #f5f5f5;
}
.stadion_bir{
margin-bottom: 40px;
}
.All_stadiums h2{
text-align: center;padding-bottom: 0px;
}
.stadion_all{
flex-wrap: wrap;
}
.Log_in_all_txt button{
width: 270px;
height: 35px;
background-color: #dc265a;
color: white;
font-size: 16px;
border: 1px solid white;
transition: 0.5s;
}
.Log_in_all_txt button:hover{
border: 1px solid #dc265a;
color: #dc265a;
background-color: white;
}


@media screen and (max-width: 600px) {
table {
  border: 0;
}

table caption {
  font-size: 1.3em;
}
.admin{
  background-color: #f5f5f5;
}
table thead {
  border: none;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

table tr {
  border-bottom: 3px solid #ddd;
  display: block;
  margin-bottom: .625em;
}

table td {
  border-bottom: 1px solid #ddd;
  display: block;
  font-size: .8em;
  text-align: right;
}

table td::before {
  /*
  * aria-label has no advantage, it won't be read inside a table
  content: attr(aria-label);
  */
  content: attr(data-label);
  float: left;
  font-weight: bold;
  text-transform: uppercase;
}

table td:last-child {
  border-bottom: 0;
}
}


.stadion_bir{
  text-decoration: none;
}
.contact_us{
  width: 100%;
  padding-top: 70px;
  background-color: #f5f5f5;
  text-align: center;
}
.contact_us h1{
  margin-top: 40px;
}
.contact{
  width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 70px;
}
.admin_pages{
  width:100%;
  background-color: #f5f5f5;
}
.contact_one{
  margin-top: 30px;
  width: 40%;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0.3cm;
  color: #252525;
  box-shadow: 0px 0px 2px;
  transition: 0.5s; 
}
.contact_one:hover{
color: #dc265a;    
}
.contact_one i{
  font-size: 40px;
  padding-bottom: 20px;
}
.footer{
  width: 100%;
  position:absolute;
  background-color: #dc265a;
  padding-top: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer_one{
  width: 20%;
  text-align: center;
  align-items: center;
  color: white;
  font-size: 10px;
}
.footer_two p{
  margin: 10px;
  display: none;
}
.footer_two{
  width: 20%;
  text-align: center;
  align-items: center;
  color: white;
  font-size: 10px;
}
.stadion_sifarisi{
  width: 100%;
  text-align: center;
  padding-top: 120px;
  background-color: #f5f5f5;
}
.stadion_sifarisi h1{
  font-size: 30px;
  padding-bottom: 50px;
}
.stadion_sifarisi_all{
  width: 80%;
  justify-content: space-around;
  display: flex;
  margin: auto;
  align-items: center;
  padding-bottom: 100px;
}
.stadion_sifarisi_img img{
  width: 370px;
  border-radius: 0.3cm;
}
.stadion_sifarisi_img{
  padding: 10px;
  background-color: white;
  border-radius: 0.5cm;
  box-shadow: 0px 0px 1px;
}
.stadion_sifarisi_txt{
  text-align: left;
  background-color: white;
  padding: 15px 30px;
  box-shadow: 0px 0px 1px;
  border-radius: 0.3cm;
}
.stadion_sifarisi_txt label i{
  color: #dc265a;
  font-size: 20px;
}
.stadion_sifarisi_txt label p {
  margin-left: 10px;
}
.stadion_sifarisi_txt label{
  font-size: 14px;
  align-items: center;
  display: flex;
}
.b{
  margin-bottom: 30px;
}
.b select{
  width: 180px;
}
.c{
  display: flex;
}
.d{
  margin-right: 120px;
}
.v{
  display: flex;
  align-items: center;
}
.v button{
  width: 160PX;
  color: white;
  background-color: #dc265a;
  height: 40PX;
  margin-top: 10PX;
  transition: 0.5S;
}
.v button:hover{
  background-color: #252525;
}
.error_sp{
  color: white;
  font-size: 9px;
  display: block;
  text-align: left;
  padding-left: 20px;
}

@media only screen and (max-width: 700px) {
  .navbar_menu{
      display: none;
  }
  
  .nav_logo{
      margin-left: 0px;
  }
  .navbar{
      justify-content: space-around;
  }
  .nav_more{
      display: block;
      width: 20%;
      color: white;
     
  }
  .navbar_logIn{
      margin-right: 0px;
      width: 20%;
  }
  .navbar_logIn p{
      display: none;
  }
  .haqqimizda_info{
      width: 80%;
  }
  .types{
      display:block;
      width: 90%;
  }
  .type{
      width: 100%;
      margin: auto;
      margin-bottom: 50px;
  }
  .why_us_y{
      width: 80%;
      margin: auto;
  }
  .type_i{
      margin-left: 15px;
  }
  .footer_one{
      display: none;
  }
  .footer{
    display: none;
  }
  .footer_two p{
      display: block;
  }
  .footer_two {
      width: 70%;
  }
  .stadion_bir{
      width: 48%;
  }
  .LogIn_img{
    display: none;
  }
  .carousel{
    height: 250px;
    width:80%
  }
}
.stadion_sifarisi{
  width: 100%;
  text-align: center;
  padding-top: 120px;
  background-color: #f5f5f5;
}
.order_user{
  width:85%;
  height: 380px;
  background-color:black;
}
.admin h2 {
  text-align: center;
}
.order{
  width:80%;
  height: 40px;
  background-color: white;
  border: 1px solid #252525;
  margin: auto;
  margin-top: 30px;
}
.stadion_sifarisi h1{
  font-size: 30px;
  padding-bottom: 50px;
}
.stadion_sifarisi_all{
  width: 80%;
  justify-content: space-around;
  display: flex;
  margin: auto;
  align-items: center;
  padding-bottom: 100px;
}
.stadion_sifarisi_img img{
  width: 370px;
  border-radius: 0.3cm;
}
.stadion_sifarisi_img{
  padding: 10px;
  background-color: white;
  border-radius: 0.5cm;
  box-shadow: 0px 0px 1px;
}
.stadion_sifarisi_txt{
  text-align: left;
  background-color: white;
  padding: 15px 30px;
  box-shadow: 0px 0px 1px;
  border-radius: 0.3cm;
}
.stadion_sifarisi_txt label i{
  color: #dc265a;
  font-size: 20px;
}
.stadion_sifarisi_txt label p {
  margin-left: 10px;
}
.stadion_sifarisi_txt label{
  font-size: 14px;
  align-items: center;
  display: flex;
}
.b{
  margin-bottom: 30px;
}
.b select{
  width: 180px;
}
.c{
  display: flex;
}
.d{
  margin-right: 120px;
}
.v{
  display: flex;
  align-items: center;
}
.v button{
  width: 160PX;
  color: white;
  background-color: #dc265a;
  height: 40PX;
  margin-top: 10PX;
  transition: 0.5S;
}
.v button:hover{
  background-color: #252525;
}
.LogIn{
  width: 100%;
  background-color: #dc265a;
  height: 100vh;
  display: flex;
  align-items: center;
}
.img_txt{
  margin: auto;
  width: 55%;
  height: 400px;
  display: flex;
}
.LogIn_img{
  width: 50%;
  display: flex;
  align-items: center;
}
.LogIn_img img{
  margin: auto;
  width: 170px;
}
.LogIn_txt{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  
}
.inp_all{
  width: 70%;
  text-align: center;
  margin: auto;
  padding-bottom: 30px;
}
.LogIn_txt_inp input{
  margin: auto;
  height: 35px;
  width: 270px;
  padding: 5px;
}
.LogIn_txt_inp{
  padding: 10px;
}
.LogIn_txt_inp h2{
  color: white;
  font-size: 30px;
}
.LogIn_txt_inp button{
  width: 81%;
  height: 36px;
  background-color: #dc265a;
  border: 1px solid white;
  color: white;
  transition: 0.5s;
  cursor: pointer;
}
.LogIn_txt_inp button:hover{
  border: 1px solid #dc265a;
  background-color:white;
  color: #dc265a;

}
.aalang{
  display: flex;
  justify-content: end;
  width: 88%;
  font-size: 14px;
  text-align: center;
}

.navbar{
  width: 100%;
  padding: 5px 0px;
  background-color: #dc265a;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 1px;
  z-index: 10;
  position: fixed;
}
.nav_more{
  display: none;
}
.nav_logo{
  margin-left: 90px;
}
.navbar_menu{
  margin: auto;
}
.navbar_menu ul li{
  display: inline-block;
  padding-left: 10px;
  font-size: 17px;
}
.navbar_menu a:hover{
  color: #252525;
}
.navbar_menu a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}
.navbar_logIn{
  display: flex;
  align-items: center;
}
.navbar_logIn{
  color: white;
  margin-right: 70px;
}
.navbar_logIn p{
  margin-left: 10px;
}
.navbar_logIn{
  border: 1px solid white;
  padding: 12px 18px;
  border-radius: 0.15cm;
  transition: 0.5s;
}
.navbar_logIn p{
  padding-left: 5px;
}
.navbar_logIn:hover{
  background-color: white;
  color: #dc265a;
}
.navbar_menu li a.active{
color: #252525;
}
.footer{
  width: 100%;
  position:absolute;
  background-color: #dc265a;
  padding-top: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer_one{
  width: 20%;
  text-align: center;
  align-items: center;
  color: white;
  font-size: 10px;
}
.footer_two p{
  margin: 10px;
  display: none;
}
.footer_two{
  width: 20%;
  text-align: center;
  align-items: center;
  color: white;
  font-size: 10px;
}
.stadion_melumat{
  width: 100%;
  padding-top: 120px;
}
.nameng h2{
  margin: auto;
}
.post_st{
  width: 600px;
  padding: 40px;
  background-color: white;
  border: 1px solid #252525;
  margin: auto;
  align-items: center;
text-align: center;
}
.hahahak{
  display: flex;
  height: 100vh;
  align-items: center;
}
.post_st_inp{
  width: 300px;
  height: 35px;
  background-color: white;
}
.post_st_lb{
  padding-top: 30px;
  display: flex;
  width: 400px;
  justify-content: center;
  background-color: white;
}
.post_st h2{
  background-color: white;
  padding-bottom: 40px;
}
.post_st_bt{
  width: 250px;
  height: 34px;
  background-color: #dc265a;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.5s;
}
.post_st_bt:hover{
  background-color: white;
  color: #dc265a;
  width:260px;
  height: 36px;
}
.add_st{
  width: 50px;
  height: 50px;
  background-color: #dc265a;
  border: 1px solid white;
  border-radius: 100%;
  position: fixed;
  bottom: 20px; 
  right: 20px; 
  transition: 0.5s;
}
.add_st_bt{
  width: 100%;
  background-color: #dc265a;
  border-radius: 100%;
  height: 100%;
  font-size: 30px;
  color: white;
  transition: 0.5s;
  border: 1px solid white;
  cursor: pointer;
}
.add_st_bt:hover{
  width: 55px;
  height: 55px;
  font-size: 32px;
}
.add_st:hover{
  width: 55px;
  height: 55px;
  font-size: 32px;
}

.sifarispage{
  width:55%;
  margin: auto;
  }
.sifarispage_one{
  width:50%;
  padding: 5px;
  border-radius: 0.3cm;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.sifarispage_one_txt{
  width:40%;
  margin-left: 30px;
}
.sifarispage_one_txt p{
  margin-bottom: 10px;
}
.sifarispage_one_img img{
  border-radius: 0.25cm;
}
.sifarispage_naming{
  padding-bottom: 15px;
  border-bottom: 1px solid #dc265a;
  width:100%;
  margin: auto;
}
.navbar_logOut{
  display: flex;
  padding: 12px 18px;
  background-color: #dc265a;
  border-radius: 0.15cm;
  color: white;
  border: 1px solid white;
  align-items: center;
 margin-right: 70px;
 transition: 0.5s;
 cursor: pointer;
}
.navbar_logOut p {
  padding-left: 9px;
}
.navbar_logOut:hover{
  background-color: white;
  color: #dc265a;
}
.navbar_menu{
  padding-left: 40px;
}